@import '../../styles/mixins';

.burgerMenu {
    @include flex-column;

    justify-content: space-between;
    align-items: flex-start;
    background-color: #6A54FF;
    height: 100%;
    position: relative;
    padding: 16px;
}

.closeButton {
    position: absolute;
    top: 4px;
    right: 4px;
}