@import '../../styles/mixins';
@import '../../styles/variables';


.heroSection {
    padding: 40px 16px;

    @media (min-width: 1440px) {
        padding: 160px 80px;
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
    }
}

.ethList {
    margin-bottom: 34px;
    position: relative;
    display: flex;
    justify-content: center;
    
    &:hover .ethListItem:nth-child(1) {
            transform: translate(-50%, -50%) scale(0.95);
            opacity: 0.5;
        }
    
    &:hover .ethListItem:nth-child(2) {
            transform: translate(10px, 10px);
    }

    @media (min-width: 1440px) {
        width: 50%;
        margin-bottom: 0;
    }
}

.ethListItem {
    width: 50%;
    padding: 6px 10px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    gap: 20px;

    width: fit-content;
    position: absolute;
    
    transition: transform 0.4s ease, opacity 0.4s ease;

    @media (min-width: 1440px) {
        padding: 12px 10px;
        width: 50%;
    }
}

.ethListItem:first-child {
    border: 1px dashed rgba(106, 84, 255, 0.7);
    margin-bottom: 8vh;

    p, span {
        color: #6A54FF;
        opacity: 70%;
    }
}

.ethListItem:last-child {
    background-color: #6A54FF;

    p {
        color: $main-text-color
    }

    span {
        color: $main-text-color;

        opacity: 60%;
    }
}

.ethText {
    font-family: $main-font;

    opacity: 1;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;

    @media (min-width: 1440px) {
        font-size: 24px;
        line-height: 32px;
    }

}

.strategy {
    font-family: $main-font;

    font-weight: 400;
    font-size: 13px;
    line-height: 16px;

    @media (min-width: 1440px) {
        font-size: 16px;
        line-height: 28px;
    }
}

.heroLayout {
    @media (min-width: 1440px) {
        width: 32%;
    }
}

.mainTitle {
    @include title-mobile;  
    
    font-size: 35px;
    line-height: 44px;
    margin-bottom: 12px;
    text-align: left;

    @media (min-width: 1440px) {
            .mainTitle {
                font-size: 60px;
                line-height: 72px;
            }
        }
}

.textContent {
    @include text-content;

    font-size:16px;
    color: #E7F7F8;
    text-transform: none;
    text-align: left;
    margin-bottom: 24px;
    width: 100%;
    display: inline-block;
    opacity: 80%;
}

.beginYourDealText {
    @include text-content;

    font-size: 16px;
    text-transform: none;
    opacity: 80%;
    color: #E7F7F8;
    margin-bottom: 24px;
}

.heroForm {
    position: relative;
    margin-bottom: 12px
}

.heroForm button {
    position: absolute;
    right: 1%;
    top: 0;
    bottom: 0;

    @media (min-width: 1440px) {
        font-size: 16px;
    }
}

.freeUsingText {
    @include text-content;

    color: $main-text-color;

    text-transform: none;
    text-align: left;
    opacity: 30%;
}
