@import './variables';

@mixin flex-column {
    display: flex;
    flex-direction: column;
}

@mixin flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4vw
}

@mixin flex-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@mixin main-font {
    font-family: $main-font;
}

@mixin title-mobile {
    font-family: $main-font;
    color: $main-text-color;

    font-weight: 700;
    font-size: 28px;
    line-height: 36px;
    text-transform: uppercase;
    text-align: left  
}

@mixin title-desktop {
   @include title-mobile;

   line-height: 56px;
   font-size: 44px;

}

@mixin text-content {
    font-family: $main-font;

    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-transform: uppercase;
    color: #030718;
}

@mixin placeholder-mobile {
    font-family: $main-font;
    color: $main-text-color;

    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    text-transform: uppercase;
    opacity: 34%;
}

@mixin placeholder-desktop {
    @include placeholder-mobile;

    font-size: 16px;
}

@mixin button-custom {
    font-family: $main-font;

    padding: 16px 24px;
    color:  #030718;
    background-color: #57E1FF;
    border-radius: 3px;
    box-shadow: 0px 0px 4px 0px #57E1FF;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 20px;
}

@mixin login-button {}