:root {
    --main-font: IBM Plex Sans, sans-serif;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html,
body {
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    width: 100vw;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

button {
    display: block;
    border: none;
    width: auto;
    overflow: visible;
    background: transparent;
    color: inherit;
    cursor: pointer;
    font: inherit;
    -webkit-font-smoothing: inherit;
    -moz-osx-font-smoothing: inherit;

    &::-moz-focus-inner {
        border: 0;
        padding: 0;
    }
}

a {
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}