@import '../../styles/mixins';
@import '../../styles/variables';

.aboutSection {
    background-color: $main-text-color;

    padding: 24px 16px;
    
    @media(min-width: 1440px) {
        display: flex;
        justify-content: space-between;
        padding: 56px 80px;
    }
}

.aboutWrapper {
    margin-bottom: 40px;

    @media(min-width: 1440px) {
        width: 34%;
    }
}

.aboutForm {
    @media(min-width: 1440px) {
        width: 48%;
    }
}

.aboutTitle {
    @include title-mobile;

    color: #030718;
    margin-bottom: 20px;

    @media(min-width: 1440px) {
        @include title-desktop;

        color: #000000;
        margin-bottom: 40px;
    }
}

.aboutContent {
    @include text-content;

    text-transform: none;
    opacity: 80%;

    @media(min-width: 1440px) {
        font-size: 16px; 
    }
}

.aboutContent:nth-child(2) {
    margin-bottom: 16px;
}