@import '../../styles/mixins';
@import '../../styles/variables';

.navList {
    @include flex-column;
    
    width: 100%;
    gap: 16px;
    text-transform: uppercase;
    
    @media (min-width: 1440px) {
        flex-direction: row;
        gap: 16vh;
    }
}

.navLink {
    font-family: $main-font;
    color: $main-text-color;

    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    text-align: left;
    opacity: 64%;
    transition: all 0.25s ease;

    @media (min-width: 1440px) {
        font-size: 14px;
        line-height: 17px;
    }
}

.navLink:hover {
    color: #ffffff;
    color: #6a54ff;
    transform: translateY(-2px);
}

.listItem {
    text-align: left;
}