@import '../../styles/variables';
@import '../../styles/mixins';

.footer {
    padding: 40px 0;

    @media (min-width: 1440px) {
        display: flex;
        justify-content: space-between;
        padding: 0 80px;
    }
}

.footerItem {
    padding-left: 8vw;
    padding-right: 12vw;
    padding-bottom: 12vh;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    display: flex;
    justify-content: space-between;

    @media (min-width: 1440px) {
        border-bottom: none;
        border-right: 1px solid rgba(255, 255, 255, 0.3);
        padding: 40px 0;
        padding-bottom: 45px;
        flex-direction: column;
        width: 70%;
    }
}

.quickNav {
    @include text-content;

    color: $main-text-color;

    opacity: 40%;
    width: 40%;

    @media (min-width: 1440px) {
        width: 100%;
    }
}

.rightsLayout {
    padding: 24px 16px;
    padding-bottom: 0;
    display: flex;
    flex-direction: column;
    gap: 24vh;

    @media (min-width: 1440px) {
        align-items: flex-end;
        padding-top: 28px;
        padding-bottom: 45px;
    }
}

.rights {
    @include text-content;
    
    color: $main-text-color;
    
    opacity: 50%;
    text-transform: none;
}