@import '../../styles/mixins';

.customButton {
    @include button-custom;

    position: relative;
    overflow: hidden;
    background-color: transparent;
    color: #57E1FF;
    border: 2px solid #57E1FF;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: background-color 0.35s ease, color 0.35s ease;
}

.customButton::before {
    content: "";
    position: absolute;
    inset: 0;

    background: linear-gradient(135deg,
            rgba(87, 225, 255, 0.0),
            rgba(87, 225, 255, 0.85));

    opacity: 0;
    transform: translate(-40%, -40%) rotate(0deg);
    transition: opacity 0.35s ease, transform 0.45s ease;
    z-index: -1;
}

.customButton:hover::before {
    opacity: 1;
    transform: translate(0, 0);
}

.customButton:hover {
    background-color: #57E1FF;
    color: #030718;
}