.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
}

.modalWindow {
    box-shadow: 0 2px 3px 0 rgba(9, 30, 63, 0.1);
    background-color: #fff;
    overflow-y: auto;
    transition: all 0.5s ease;
    height: 100%;
    width: 100%;
}